@tailwind base;
@tailwind utilities;
* {
    margin: 0%;
    box-sizing: border-box;
}

ht ml,
body {
    height: 100%;
    width: 100%;
}

.message-box {
    scroll-behavior: smooth;
}

.m essage-box::-webkit-scrollbar {
    display: none;
}

message-box::-webkit-scrollbar {
    display: none;
}